body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

header {
  background: darkblue;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.shop {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.item {
  background: white;
  padding: 15px;
  width: 160px;
  text-align: center;
  border-radius: 5px;
}

.item button {
  margin: 5px;
  padding: 6px;
  cursor: pointer;
  border: none;
  background: green;
  color: white;
}

.item button:last-child {
  background: orange;
}

.item button:hover {
  opacity: 0.8;
  
}
